$nm: main-footer;

.#{$nm} {}

.#{$nm}__wrapper {
	display: flex;
}

.#{$nm}__site-nav {
	margin: 23px 0px 0px -2px;
	padding: 0;
}

.#{$nm}__site-nav .site-nav__link {
	color: inherit;
}

.#{$nm}__socials {
	margin-left: 112px;
	padding-top: 14px;
}

.#{$nm}__more-info {
	margin-left: auto;
	width: 243px;
}
