body {
  min-width: 1200px;
  margin: 0;

  background-color: #f3f3f3;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1673px 647px;

  font-family: "Raleway", "Open Sans", sans-serif; // Verdana, Arial, Helvetica, sans-serif;
  // font-family: "Roboto Slab", "Arial", serif; // Times, Times New Roman, Georgia, serif
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $font-color-basic;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
