@import "fonts.scss";
@import "variables.scss";
@import "global.scss";

@import "blocks/main-header.scss";
@import "blocks/site-nav.scss";
@import "blocks/more-info.scss";
@import "blocks/promo.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/gallery.scss";
@import "blocks/reviews";
@import "blocks/main-footer";
@import "blocks/socials.scss";
